header{
  background-color: #00458f;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

footer{
  background-color: #00458f;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  margin-top: 30px;
}