<div class="component-container">
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <mat-label>¿Que tarea querés agregar?</mat-label>
      <input
        matInput
        placeholder="Nombre de la tarea"
        [(ngModel)]="nombreTarea"
      />
    </mat-form-field>
    <button mat-stroked-button (click)="agregarTarea()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <h2>Tareas Activas</h2>

  <table mat-table [dataSource]="activas">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Tarea</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Fecha Creacion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "dd/MM/yy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actividad">
      <th mat-header-cell *matHeaderCellDef>Actividad</th>
      <td mat-cell *matCellDef="let element">
        {{ parseMs(getActividad(element)) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button
            mat-button
            matTooltip="Pausar Tarea"
            (click)="toggleActiva(element)"
          >
            <mat-icon>pause_circle</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="Completar Tarea"
            color="accent"
            (click)="setCompletada(element)"
          >
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-divider></mat-divider>

  <h2>Tareas Pendientes</h2>

  <table mat-table [dataSource]="pendientes">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Tarea</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Fecha Creacion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "dd/MM/yy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actividad">
      <th mat-header-cell *matHeaderCellDef>Actividad</th>
      <td mat-cell *matCellDef="let element">
        {{ parseMs(element.actividad) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          matTooltip="Activar Tarea"
          (click)="toggleActiva(element)"
        >
          <mat-icon>play_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-divider></mat-divider>

  <h2>Tareas Completadas</h2>

  <table mat-table [dataSource]="completadas">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Tarea</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Fecha Creacion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "dd/MM/yy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actividad">
      <th mat-header-cell *matHeaderCellDef>Actividad</th>
      <td mat-cell *matCellDef="let element">
        {{ parseMs(element.actividad) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          matTooltip="Eliminar Tarea"
          color="warn"
          (click)="deleteTarea(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
